name: Schedule Proof

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: "*/5 * * * *"

jobs:
  proof:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "event = ${{ github.event_name }}"
          date
